# Editor 
**/.vscode/
**/*.swp

# Build 
**/build*/
**/_build*/
**/_templates*/
**/autogen/
**/bin*/
**/dist*/

# Build & debug 
*.a
*.vcd
*.gtkw

# Python 
**/.venv/
**/.python-version
**/*.pyc
**/__pycache__/
**/*.egg-info/
**/.pytest_cache
**/.ipynb_checkpoints/

# test 
**/test_*.log

# macOS 
.DS_Store
.venv
*.gv
.gdb_history
*.bkp
examples/app_*d_block_fir/src/test_*.h
examples/app_*d_block_fir/src/test_*.npy
